/*全局reset*/
div, 
p,
input,
textarea,
title,
label,
span {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: calc(100vw / 750);
}
@media screen and (min-width: 900px) {
    html {
        font-size: calc(100vw / 1400);
    }
}
body{
    background: #333;
    color:#ddd;
    margin-bottom: 50rem;
}
input,button{
    border:none;
    outline: none;
}
/*全局reset结束*/

/*banner条开始*/
.banner{
    margin: 0 auto;
    background: #444;
    box-sizing: border-box;
}
.banner .title{
    font-family: 宋体;
    color:white;
    transition:color 0.35s;
}
.banner .title:hover{
    color:#Fc0;
}
.banner .content{
    font-weight: 200;
    font-family: 宋体;
}
.banner button{
    background: #Fc0;
    color: #444;
    font-weight: 400;
    transition:background 0.35s;

}
.banner button:hover{
    background: #f90;
}
/*banner条结束*/

/*单词大容器*/
.container{
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
a{
    display: block;
    text-align: center;
    color:#fc0;
    text-decoration: none;
}
.wordItemBox{
    display: inline-block;
    background: #444;
}
hr{
    height:10rem;
    border:none;
    border-top:1rem groove #666;
    border-top:1rem groove #ddd; 
}
.wordItemBox .word{
    color:#fc0;
    display: inline-block;
    transition:color 0.35s;
}
.wordItemBox .word:hover{
    color:#f90;
}
/*单词大容器结束*/
