
/*banner条开始*/
.banner{
    width: 690rem;
    margin-top: 40rem;
    border-radius: 16rem;
    padding: 20rem 30rem;
}
.banner .title{
    font-size: 42rem;
    margin-top: 20rem;
    margin-bottom: 20rem;
}
.banner .content{
    font-size: 24rem;
    margin-bottom: 30rem;
}
.banner button{
    padding: 8rem 15rem;
    font-size: 32rem;
    border-radius: 10rem;

}
.banner button:hover{
    background: #f90;
}
/*banner条结束*/

/*单词大容器*/
.container{
    width: 690rem;
    margin-top: 50rem;
    line-height: 40rem;
}
a{
    margin-top: 20rem;
    font-size: 30rem;
}
.wordItemBox{
    width: 100%;
    border-radius: 10rem;
    margin-top: 30rem;
    padding: 20rem 30rem;
}
.wordItemBox:first-child {
    margin-top: 0;
}
.wordItemBox .word{
    font-size: 34rem;
    line-height: 45rem;
    padding-right: 10rem;
}
.wordItemBox .translate{
    font-size: 28rem;
}
/*单词大容器结束*/
