
/*banner条开始*/

.banner .title{
    font-size: 50rem;
}
.banner .title:hover{
    color:#Fc0;
}
/*banner条结束*/

/*单词大容器*/
.container{
    
}
.wordItemBox{
    width: 40%;

}

.wordItemBox .word{
    color:#fc0;
    font-size: 32rem;
}
.wordItemBox .word:hover{
    color:#f90;
}
.wordItemBox .translate{

}
.wordItemBox .pronounce{
    display: inline-block;
}
/*单词大容器结束*/
