
/*banner条开始*/
.banner{
    width: 94vw;
    margin-top: 20rem;
    border-radius: 16rem;
    padding: 20rem 30rem;
}
.banner .title{
    font-size: 17rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}
.banner .content{
    font-size: 14rem;
    margin-bottom: 10rem;
}
.banner button{
    padding: 4rem 8rem;
    font-size: 16rem;
    border-radius: 8rem;
}
.banner button:hover{
    background: #f90;
}
/*banner条结束*/

/*单词大容器*/
.container{
    width: 94vw;
    margin-top: 20rem;
    line-height: 24rem;
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-gap: 5rem 2vw ;
}
a{
    margin-top: 10rem;
    font-size: 15rem;
}
.wordItemBox{
    width: 100%;
    border-radius: 6rem;
    margin-top: 15rem;
    padding: 10rem 15rem;
}
.wordItemBox .word{
    font-size: 16rem;
    line-height: 28rem;
    padding-right: 5rem;
}
.wordItemBox .translate{
    font-size: 14rem;
}
/*单词大容器结束*/
