$pink-color-primary: #FC5872;
$pink-color-primary-shadow: rgba(252, 88, 114, 0.3);
$pink-color-white: #ffffff;
$pink-color-success: #4cd964;
$pink-color-warning: #f0ad4e;
$pink-color-error: #dd524d;
$pink-color-info: #919098;
$pink-color-font: #333;
$pink-font-link: #0077f1;
$pink-color-gray: #919098;
$pink-color-lightgray: #bcc1c2;
$pink-color-whitegray: #efefef;

$pink-font-mini: 22rpx;
$pink-font-small: 24rpx;
$pink-font26: 26rpx;
$pink-font-less: 28rpx;
$pink-font-normal: 30rpx;
$pink-font32: 32rpx;
$pink-font-title: 34rpx;
$pink-font-big: 48rpx;
$pink-font-large: 58rpx;
$pink-font-max: 68rpx;
$pink-fontmax: 200rpx;

$pink-font-family: Latin;

$pink-line32: 32rpx;
$pink-line36: 36rpx;
$pink-line42: 42rpx;
$pink-line48: 48rpx;
$pink-line60: 60rpx;

$pink-radius: 8rpx;
$pink-radius4: 4rpx;
$pink-radius12: 12rpx;
$pink-radius20: 20rpx;
$pink-bar-font: $pink-font-title;

@mixin font($size: 30rpx,  $color: #333, $weight: 400, $space: 0) {
	font-size: $size;
	font-weight: $weight;
	color: $color;
	font-family: $pink-font-family;
	letter-spacing: $space;
}
@mixin position($top, $right, $bottom, $left, $position: fixed, $index: 1) {
	position: $position;
	z-index: $index;
	@if $right {
		right: $right;
	}
	@if $left {
		left: $left;
	}
	@if $bottom {
		bottom: $bottom;
	}
	@if $top {
		top: $top;
	}
}
@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
@mixin center($direction: row,) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}
@mixin vercenter($direction: row) {
	display: flex;
	align-items: center;
	flex-direction: $direction;
	justify-content: flex-start;
}

@mixin horcenter($direction: row) {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: $direction;
}

@mixin abscenter($index: 1) {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: $index;
}

@mixin ellipsis1 () {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
@mixin ellipsis($line: 3) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
	overflow: hidden;
}
